body, button, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 12px;
}

ul {
    font-family: Helvetica;
    font-size: 10px;
    padding: 15px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    display: inline-block;
}
li {
    font-family: Helvetica;
    margin: 10px;
    margin-left: 25px;
    background-color: #1e1e1e;
    text-align: right;
    font-size: 14px;
    list-style: none;
    border: 3px solid #30363d;
    border-radius: 6px;
    width: 100%;
}

body {
    background-color: #1e1e1e; /* Dark background similar to GitHub */
    color: #d4d4d4; /* Text color */
}

.container {
    text-align: center;
    margin-top: 2vh;
}

h1 {
    font-size: 2rem;
    color: #61afef; /* Blue color similar to GitHub */
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

button {
    background-color: #d19a66; /* Bright orange similar to GitHub */
    color: #282c34;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 20px;
}

button:hover {
    background-color: #56b6c2; /* Bright purple similar to GitHub */
}

a.login-link {
    text-decoration: none;
    color: #0d1117; /* Blue color similar to GitHub */
    transition: color 0.2s;
}

a.login-link:hover {
    color: #56b6c2; /* Bright purple similar to GitHub */
}

#sidebar {
    width: 250px; /* Adjust the width as needed */
    height: 100%; /* Set the height to match the viewport */
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll; /* Enable vertical scrolling */
    background-color: #1e1e1e; /* Set your preferred lighter background color */
}

#projectList {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
}

#projectList li {
    padding: 10px;
    border-bottom: 1px solid #30363d; /* Slightly darker border */
}

.hidden {
    display: none;
}

#projectSnippets {
    background-color: #0d1117; /* Slightly darker background similar to GitHub */
    font-size: 14px;
}

.snippet-list {
    background-color: #0d1117;
    display: flex;
    flex-direction: column; /* Arrange snippets vertically */
    align-items: center; /* Center horizontally */
    padding: 50px 0 5px 0;
}

.snippet-tile {
    background-color: #30363d; /* Dark background similar to GitHub */
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column; /* Arrange header and content vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: left; /* Center text within */
    width: 60%; /* Set the desired width, you can adjust the percentage */
}

.snippet-tile .snippet-header {
    background-color: #1b1f23; /* Dark grey */
    color: #c9d1d9; /* Text color */
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    text-align: right;
    display: flex;
    justify-content: flex-end; /* Right-align the date */
    width: 98%;
}

.snippet-tile .snippet-content {
    background-color: #30363d;
    text-align: left;
    margin-top: 1px; 
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 5px;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

.snippet-tile {
    background-color: #30363d; /* Dark background similar to GitHub */
    border-radius: 6px;
    padding: 5px;
    overflow-x: auto;
    font-size: 14px;
    color: #c9d1d9; /* Code text color */
    margin: 0 auto; /* Center the code block horizontally */
}

.popup-content {
    background-color: #0d1117; /* Dark background similar to GitHub */
    color: #c9d1d9; /* Text color */
    padding: 20px;
}

.popup-textarea {
    width: 90%;
    height: 600px; /* Adjust the height as needed */
    background-color: #0d1117; /* Dark background similar to GitHub */
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 10px;
    overflow-x: auto;
    font-size: 14px;
    color: #c9d1d9; /* Code text color */
}

.popup-submit-button {
    background-color: #d19a66; /* Bright orange similar to GitHub */
    color: #282c34;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 20px; /* Add margin to separate it from the textarea */
}

.popup-submit-button:hover {
    background-color: #56b6c2; /* Bright purple similar to GitHub */
}